@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Roboto+Condensed&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');

.avatar-img {
    width: 30vmin;
    height: 30vmin;
    margin: 50px auto;
    object-fit: contain;
}

.avatar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-list {
    margin: 30px auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
}

.last-purchases-text {
    margin: 30px 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: column;
}

.last-purchases-back {
    background-color: rgba(255, 255, 255, 0.105);
    width: 80vw;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

@media (max-width: 600px) {
    .last-purchases-back {
        justify-content: start;
        width: 50vw;
    }
}

.last-purchase {
    border: solid white 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    width: 130px;
}

.last-purchase-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0;
    padding: 0;
}